* {
margin:0px;
padding:0px;
}
.titles {
font-family:Geneva,verdana,cursive,arial,sans-serif;
font-size:230%;
color:#283030;
text-align:center;
border-bottom:1px dotted #285060;
}
h1 {
	font-size: 190%;
	color:#0088E0;
}
form {
padding-left:20px;
padding-right:20px;
}
label {
display:block;
color:#283030;
font-size:110%;
margin:3px 10px 3px 10px;
}
input {
margin:0px 10px;
display:block;
}
.input_box {
border:1px inset #283028;
width:250px;
height:30px;
border-radius:5px;
}
.new_input {
	width:350px;
}
input[type=submit] {
width:150px;
height:30px;
border-radius:5px;
cursor: pointer;
border:1px solid #506060;
background-color:#A8A8A8;
}

#login_page {
background-color:#082028;
}
#login, #signup {
width:400px;
border:1px dotted #688880;
background-image:url(images/login_back.webp);
background-repeat:no-repeat;
background-size:cover;
padding-bottom:30px;
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}
#dont {
margin:29px;
color:#688880;
}
a:link {
color:#ffffff;
}
a:hover {
background-color:#C02058;
color:#D8F8F0;
}
a:visited {
color:#0040A8;
}
#signup input[type=radio] {
	display: inline;
}
form {
padding-top:10px;
display: table;
}
.table-row {
display: table-row;
}
.table-row p {
display:table-cell;
text-align: right;
padding-top:20px;
}
.table-row p select {
display:block;
margin-left:10px;
width:90%;
text-align:left;
}
.table-row input[type=radio] {
text-align:left;
}
@font-face {
font-family:"Emblema One";
src:url(font/EmblemaOne-Regular.ttf),
    url(font/EmblemaOne-Regular.woff);
}
@font-face {
	font-family: Prototype;
	src: url(font/Prototype.ttf);
}
 #index {
 background-color:#0088E0;
 font-family: Geneva, arial, sans-serif;
 }
 #header {
 width:100%;
 position:relative;
 height:150px;
 margin:0px;
 background-image: url(images/main_logo3.png);
 background-repeat: no-repeat;
 background-position: top left;
 }
 #content {
 background-color:#E0D8F0;
 position:relative;
 width:95%;
 min-height:30em;
 margin:10px 30px 0px 30px;
 border:1px dotted #804878;
 border-radius:15px;
 padding-bottom: 20px;
 }
 .weblink {
 text-align:right;
 margin-right:1.5em;
 margin-top:1.8em;
 }
 .weblink a {
 padding:1.5em;
 text-decoration:none;
 font-family:Prototype,verdana,geneva,arial,sans-serif;
 color:#A0C0E8;
 }
 .weblink a:hover {
 color: white;
 background-color: blue;
 opacity: 0.2;
 border-radius: 10px 10px;
 padding-top:5px;
 padding-bottom: 5px;
 }
 table,th,td,tr {
 	border-spacing: 0px;
 	border:1px solid #0088E0;
 }
 th,td {
 	padding:15px;
 }
 .sub_container {
 	margin-top: 30px;
 	padding:0px 15%;
 }
 @font-face {
 	font-family: "From Cartoon Blocks";
 	src: url(font/From_Cartoon_Blocks.ttf);
 }
#header h1 {
	position: absolute;
	font-family: "From Cartoon Blocks";
	left:60%;
	top:70%;
	color:white;
	opacity: 0.8;
}
#edit_id,#add_teacher {
	display: none;
	width:81%;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 10px;
	margin-right: 25px;
	min-height: 300px;
	border:1px dotted #A0C0E8;
	background-color: #0088E0;
}
#edit_id h1 {
	color:#A0C0E8;	
}
.add_student, .add_subject {
  top: 80px;
}
.error_message {
display:none;
width:19em;
height:27px;
text-align:center;
background-color:#884038;
margin-top:15px;
border:1px solid #E0D8E0;
border-radius:15px;
margin-left:30px;
}
#msg {
font-size:16px;
}
#cross {
font-size:22px;
position:relative;
left:58px;
cursor:pointer;
}
.delete, .edit,.view {
	cursor:pointer;
}
.content_header {
	width:95%;
	height:40px;
	background-color:#fff;
	margin-bottom: 10px;	
}
.content_header p {
	padding-top:0.4em;
	margin-left: 5px;
	font-size:1.4em;
	font-family: sans-serif;
	color:#0088e0;
	font-weight:bolder;
}
.content_header button[type=button]{
	display:block;
	float:right;
	padding:8px;
	margin-top: 3px;
	margin-right: 3px;
	background-color:#0088e0;
	border:1px solid #333;
	cursor:pointer;
}
.content_header button[type=submit]{
	margin-top: 3px;
	margin-right: 3px;
	background:#E0D8F0;
	border:1px solid #0088E0;
	height:25px;
	padding:0px;
	position:relative;
	top:-28px;
	left:170px;
	cursor:pointer;
}
.content_header input[type=text]{
	margin-top: 0px;
	margin-right: 3px;
	height: 23px;
	border:1px solid #0088E0;
	outline:none;
	padding-left:5px;
}
.content_header input[type=text]:focus{
	border:1px solid #0088E0;
}